/* Tipos de Pokémon e suas cores aplicadas aos cards e badges */
.pokemon.normal  { background-color: #a6a877; }
.pokemon.grass   { background-color: #77c850; }
.pokemon.fire    { background-color: #ee7f30; }
.pokemon.water   { background-color: #678fee; }
.pokemon.electric{ background-color: #f7cf2e; }
.pokemon.ice     { background-color: #98d5d7; }
.pokemon.ground  { background-color: #dfbf69; }
.pokemon.flying  { background-color: #a98ff0; }
.pokemon.poison  { background-color: #a040a0; }
.pokemon.fighting{ background-color: #bf3029; }
.pokemon.psychic { background-color: #f65687; }
.pokemon.dark    { background-color: #725847; }
.pokemon.rock    { background-color: #b8a137; }
.pokemon.bug     { background-color: #a8b720; }
.pokemon.ghost   { background-color: #6e5896; }
.pokemon.steel   { background-color: #b9b7cf; }
.pokemon.dragon  { background-color: #6f38f6; }
.pokemon.fairy   { background-color: #f9aec7; }

/* Fundo da página para dar mais vida à Pokedex */
body {
    background: linear-gradient(180deg, #f0f6ff 0%, #fbfbff 100%);
    min-height: 100vh;
    color: #222;
    -webkit-font-smoothing: antialiased;
}

.pokemos {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: #fada73;
}

.pokemon .number {
    color: #9f7c26;
    opacity: 1;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
    
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

/* aplicar cor também aos badges de tipo */
.pokemon .detail .types .type.normal  { background-color: #a6a877; }
.pokemon .detail .types .type.grass   { background-color: #77c850; }
.pokemon .detail .types .type.fire    { background-color: #ee7f30; }
.pokemon .detail .types .type.water   { background-color: #678fee; }
.pokemon .detail .types .type.electric{ background-color: #f7cf2e; color: #000; }
.pokemon .detail .types .type.ice     { background-color: #98d5d7; color: #000; }
.pokemon .detail .types .type.ground  { background-color: #dfbf69; color: #000; }
.pokemon .detail .types .type.flying  { background-color: #a98ff0; }
.pokemon .detail .types .type.poison  { background-color: #a040a0; }
.pokemon .detail .types .type.fighting{ background-color: #bf3029; }
.pokemon .detail .types .type.psychic { background-color: #f65687; }
.pokemon .detail .types .type.dark    { background-color: #725847; }
.pokemon .detail .types .type.rock    { background-color: #b8a137; color: #000; }
.pokemon .detail .types .type.bug     { background-color: #a8b720; color: #000; }
.pokemon .detail .types .type.ghost   { background-color: #6e5896; }
.pokemon .detail .types .type.steel   { background-color: #b9b7cf; color: #000; }
.pokemon .detail .types .type.dragon  { background-color: #6f38f6; }
.pokemon .detail .types .type.fairy   { background-color: #f9aec7; color: #000; }

.pokemon .detail img{
        max-width: 100%;
        height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #678fee;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 380px) {
    .pokemos {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 576px) {
    .pokemos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}